.btn {

  text-align: center;

  &:link, 
  &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1rem 2rem;
      display: inline-block;
      border-radius: 1rem;
      transition: all .2s;
      position: relative;
      font-size: $default-font-size;
      width: 70%;
      /* animation: moveInBottom 1s ease-out; */
  }

  &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 1rem rgba($color-black, .2);
      text-decoration: none;
      color: #fff;

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
  }

  &:active {
      transform: translateY(1px);
      box-shadow: 0 5rem 1rem rgba($color-black,.2);
  }

  &--blue {
      background-color: $color-bg-login;
      color: $color-white;

      &::after {
        background-color: $color-bg-login;
      }
  }

  &--orange {
      background-image: linear-gradient(to right, #FA6665 , #FD8E84);
      color: $color-white;

      &::after {
        background-color: #FD8E84;
      }
  }

  &--grey {
    background-color: grey;
    color: $color-white;
}

  &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
  }

  &--animated {
      animation: moveInBottom .5s ease-out .70s;
      animation-fill-mode: backwards;
  }

}
